terraform {
  backend "s3" {
    bucket         = "circleguard-tfstate-example"
    key            = "env/stage/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "circleguard-tf-lock"
    encrypt        = true
  }
}
